// Solar 3.3.7
// Bootswatch
// -----------------------------------------------------
$web-font-path: "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" !default;
@import url($web-font-path);
// Navbar =====================================================================
// Buttons ====================================================================
// Typography =================================================================
.text-primary,
.text-primary:hover {
    color: $brand-primary;
}

.text-success,
.text-success:hover {
    color: $brand-success;
}

.text-danger,
.text-danger:hover {
    color: $brand-danger;
}

.text-warning,
.text-warning:hover {
    color: $brand-warning;
}

.text-info,
.text-info:hover {
    color: $brand-info;
}

.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
    color: #fff;
}

// Tables =====================================================================
table,
.table {
    .success,
    .info,
    .warning,
    .danger {
        td,
        th {
            color: #fff;
        }
    }
}

// Forms ======================================================================
.has-warning {
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    &.radio label,
    &.checkbox label,
    &.radio-inline label,
    &.checkbox-inline label,
    .form-control-feedback {
        color: $brand-warning;
    }
    .form-control,
    .form-control:focus,
    .input-group-addon {
        border-color: $brand-warning;
    }
}

.has-error {
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    &.radio label,
    &.checkbox label,
    &.radio-inline label,
    &.checkbox-inline label,
    .form-control-feedback {
        color: $brand-danger;
    }
    .form-control,
    .form-control:focus,
    .input-group-addon {
        border-color: $brand-danger;
    }
}

.has-success {
    .help-block,
    .control-label,
    .radio,
    .checkbox,
    .radio-inline,
    .checkbox-inline,
    &.radio label,
    &.checkbox label,
    &.radio-inline label,
    &.checkbox-inline label,
    .form-control-feedback {
        color: $brand-success;
    }
    .form-control,
    .form-control:focus,
    .input-group-addon {
        border-color: $brand-success;
    }
}

.input-group-addon {
    color: $text-color;
}

// Navs =======================================================================
// Indicators =================================================================
// Progress bars ==============================================================
// Containers =================================================================